<ion-header>
  <ion-toolbar>
    <ion-title>Burger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Step 1: Cook Bun</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Step 2: Cook Patty</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Step 3: Put Patty inbetween buns.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Step 4: Put Ketchup, Mustard and Veggies</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Step 5: Done </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
